/target
/demo
/dist
/conf

# Runtime
/data/run/
data/zap.db
web/a.html

data/appstore/logs/*
data/appstore/tmp/*
data/appstore/runs/*
data/appstore/cache/*
data/appstore/custom/*
data/apps/*/
data/sites/*
data/pro/*
data/ssl/*
data/tmp/*
data/backups/
data/users/
data/server_env.yaml
data/update_config.yaml
__pycache__/
*.pyc

# Zap Pro
/zappro/
/web/src/views/pro/
